/* Special font-face selector */
@font-face 
{
    font-family: "star";
    src: url("star.ttf") format("truetype");
}

body
{
    background-color: #000;
    background-image: url("cover.png");
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content a
{
	position: fixed;
	left: 0;
	top: 30%;
}

